1.Calculate the sum, difference, product, and quotient of two numbers.

In [8]:
a,b=9,2
print(a+b,a-b,a*b,int(a/b))

11 7 18 4

2.Perform various assignment operations on a variable.

In [34]:
a=8
a+=2
print(a)
a-=3
print(a)
a*=2
print(a)
a/=7
print(a)
a**=3
print(a)
a%=3
print(a)
a//=2
print(a)

10
7
14
2.0
8.0
2.0
1.0

3.Compare two numbers and print the results.

In [25]:
a,b,c=4,9,10
print(a>b,a<c,b<=c,a>=b,a!=b)

False True True False True

4.Check conditions using logical operators.

In [28]:
a,b,c=11,45,34
print(a>10 and c<10)
print(b<23 or c>90)
print(not a==10)

False
False
True

5.Check the identity of variables.

In [31]:
a,b,c,d=2,3,2,11
print(a is c)
print(b is not d)

True
True

6.Perform bitwise operations on any two integers.

In [36]:
a,b=5,4
print(a&b ,a|b ,~a ,a^b ,a<<3,b>>2)

4 5 -6 1 40 1

7.Use unary operators to change the sign of a number.

In [37]:
a=5
b=-a
print(a,b)

5 -5

8.Use the ternary operator to assign values based on conditions.

In [38]:
a=float(input())
b="Negative" if a<0 else "Positive"
print(b)

 6.7

Positive